.nav-main {
  background-image: url("../img/graphic.png");
  background-size: 100%;
  display: flex;
  min-height: 120px;
  align-items: flex-end;
  justify-content: flex-end;
  text-decoration: none;
  margin-bottom: 3%;
    img {
    position: relative;
    right: 27%;
    margin-bottom: 1%;
  }

  > ul {
      @extend %plainlist;
      float: left;

      > li {
          float: left;
      }
  }

}
.nav-item:focus + .nav-content {
    display: block;
}

.nav-item {
    display: inline-block;
    margin-right: 58px;
    font-family: regular;
    font-size: 20px;
    text-decoration: none;
    color: white;
    &:focus {
        color: $pink;
        ~ .nav-content {
              max-height: 800px;
          }
    }
    &:hover {

    }
}

 .nav-content {
     margin-left: -14px;
     width: 11%;
     font-family: regular;
     border-radius: 6px;
     position: absolute;
     top: 120px;
     background-color: $pink;
     max-height: 0;
     display: block;
     display: none;

     a {
         border-bottom: 1px solid $border;
         display: block;
         color: black;
         text-decoration: none;
         padding-left: 12px;
         font-size: 15px;

         &:hover {
             color: white;
             background-color: $hover;

         }
     }

 }
 .nav-sub {
     ul {
         @extend %plainlist;
     }
 }
 .arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}
div.error-label-arrow{
width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent $pink transparent;
line-height: 0px;
_border-color: $pink;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
position: relative;
margin-left: 8px;
margin-top: -8px;


}
 @media only screen and (max-width:1000px) {
   .nav-main {
     background-image: url("../img/backgorund.png");
     width: 119%;
     justify-content: center;
     min-height: 226px;
   img {
     display: none;
   }
   > ul {
     font-size: 71px;
   }
 }
 .nav-item {
   font-size: 48px;
 }
 .nav-content {
   top: 225px;
   width: 25%;
   a {
     font-size: 45px;
     text-align: center;
   }
 }
 div.error-label-arrow{
   border-width: 0 40px 40px 40px;
   margin-top: -29px;
   margin-left: 20px;
 }
 }
